allow platform_app vendor_default_prop:file { getattr open read };
allow platform_app system_app_data_file:dir r_dir_perms;
allow platform_app vendor_default_prop:file {map};
allow platform_app sysfs_graphics:file r_file_perms;
