allow system_app vendor_default_prop:file { getattr open read };
allow system_app fs_bpf:dir search;
allow system_app vendor_default_prop:file {map};
